<!DOCTYPE html>
<html>
<head>
    <title>Detalhes da Pessoa</title>
</head>
<body>
    <h1>Detalhes da Pessoa</h1>

    <table>
        <tbody>
            <tr>
                <td><strong>Nome:</strong></td>
                <td>{{ object.nome }}</td>
            </tr>
            <tr>
                <td><strong>Idade:</strong></td>
                <td>{{ object.idade }}</td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td>{{ object.email }}</td>
            </tr>
            <tr>
                <td><strong>Tipo Pessoa:</strong></td>
                <td>{{ object.tipo_pessoa }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Histórico de Interações</h2>
    <table>
        <thead>
            <tr>
                <th>Data e Hora</th>
                <th>Mensagem</th>
            </tr>
        </thead>
        <tbody>
            {% for interacao in interacoes_formatada %}
                <tr>
                    <td>{{ interacao.data_hora }}</td>
                    <td>{{ interacao.mensagem }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'editar_pessoa' object.id %}">Editar</a>
    <a href="{% url 'lista_pessoas' %}">Voltar para a lista</a>
</body>
</html>