<!DOCTYPE html>
<html>
<head>
    <title>Lista de Pessoas</title>
</head>
<body>
    <h1>Pessoas Cadastradas</h1>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Email</th>
                <th>Ações</th> 
            </tr>
        </thead>
        <tbody>
            {% for pessoa in object_list %}
                <tr>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa.idade }}</td>
                    <td>{{ pessoa.email }}</td>
                    <td>
                        <a href="{% url 'editar_pessoa' pessoa.id %}">Editar</a> 
                    </td>
                    <td>
                        <a href="{% url 'detalhe_pessoa' pessoa.id %}">Visualizar</a> 
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>